<div class="row"><br /></div>
<div class="form-group">
    @Html.Label("ASP User Message", new { @class = "col-md-3 control-label" })
    <div class="col-md-8">
        @Html.Label("Deleted Items Button Click", new { @class = "col-md-3 control-label" })2
    </div>
</div>
<div class="row"><br /><br /></div>

