/*!
 * Materialize v0.97.7 (http://materializecss.com)
 * Copyright 2014-2015 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */

/* Radio Buttons
   ========================================================================== */
.btn-radio[type="radio"]:not(:checked),
.btn-radio[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.btn-radio[type="radio"] + label{
  font-weight: normal;
  color: #1cacf6;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
}

.btn-radio[type="radio"]:not(:checked) + label,
.btn-radio[type="radio"]:checked + label {
  position: relative;
  padding: 8px 14px 6px;
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
  /**font-size: 1rem;**/
  transition: .28s ease;
  /* webkit (konqueror) browsers */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Unchecked styles */
.btn-radio[type="radio"]:not(:checked) + label,
.btn-radio[type="radio"]:not(:checked) + label{
  border: 1px solid #b5b5b5;
  color: #1cacf6;
  background-color: #fff;
}


/* Checked styles */
.btn-radio[type="radio"]:checked + label {
  color: #fff;
  background-color: #334352;
  border: 1px solid #334352;
}



/* Disabled style */
.btn-radio[type="radio"]:disabled:not(:checked) + label,
.btn-radio[type="radio"]:disabled:checked + label,
.btn-radio[type="radio"]:disabled + label { 
  background-color: #e7e7e7;
  border-color: rgba(0, 0, 0, 0.26);
}



/* Checkboxes
   ========================================================================== */
/* CUSTOM CSS CHECKBOXES */
form p {
  margin-bottom: 10px;
  text-align: left;
}

form p:last-child {
  margin-bottom: 0;
}

/* Remove default checkbox */
.btn-checkbox[type="checkbox"]:not(:checked),
.btn-checkbox[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.btn-checkbox[type="checkbox"] {
  /* checkbox aspect */
}

.btn-checkbox[type="checkbox"] + label {
  font-weight: normal;
  position: relative;
  cursor: pointer;
  padding: 8px 14px 6px;
  display: inline-block;
  line-height: 1.2;
  /**font-size: 1rem;**/
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  
  color: #fff;
  border: 1px solid #0996dc;
  border-radius: 4px;
  transition: .2s;
}

/* Unchecked styles */
.btn-checkbox[type="checkbox"]:not(:checked) + label{
  border: 1px solid #b5b5b5;
  color: #1cacf6;
  background-color: #fff;
}

/* Checked styles */
.btn-checkbox[type="checkbox"]:checked + label {
  color: #fff;
  background-color: #334352;
  border: 1px solid #334352;
}

/* Disabled style */
.btn-checkbox[type="checkbox"]:disabled:not(:checked) + label,
.btn-checkbox[type="checkbox"]:disabled:checked + label,
.btn-checkbox[type="checkbox"]:disabled + label { 
  background-color: #e7e7e7;
  border-color: rgba(0, 0, 0, 0.26);
}




/* Switch
   ========================================================================== */
.switch,
.switch * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.switch label {
  cursor: pointer;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #26a69a;
  left: 24px;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #818181;
  border-radius: 15px;
  margin-right: 10px;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #F1F1F1;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -3px;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::after,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(38, 166, 154, 0.1);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:after,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
}

.switch input[type=checkbox][disabled] + .lever {
  cursor: default;
}

.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
  background-color: #BDBDBD;
}