
.forget-password.d-flex{
	min-height: 100vh;
}

.box.forget-password{
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 40px 30px;
	color: #fff;
	background-color: #334352;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.box.forget-password > .row{
	margin: 0;
}

.box.forget-password .forget-password-logo{
	margin-bottom: 26px;
}

.box.forget-password .forget-password-title .title{
    max-width: 120px;
	line-height: 1.2;
	margin-bottom: 85px;
}

.box.forget-password .forget-password-form .form-title{
	margin-bottom: 30px;
}

.box.forget-password .form-group{
	margin-bottom: 18px;
}

.box.forget-password .forget-password-remark{
	text-align: center;
	font-size: 80%;
	color: #000;
}

.box.forget-password .forget-password-copyright{
	font-size: 90%;
}

.box.forget-password .forget-password-privacy-terms{
	font-size: 90%;
	font-weight: bold;
	margin: 0;
}


.box.forget-password .forget-password-privacy,
.box.forget-password .forget-password-terms{	
	color: #334352;
}

.box.forget-password .forget-password-privacy:hover,
.box.forget-password .forget-password-privacy:focus,
.box.forget-password .forget-password-terms:hover,
.box.forget-password .forget-password-terms:focus{	
	color: #31404e;
}

.box.forget-password .forget-password-form select.form-control{
	padding: 10px 9px;
}

.box.forget-password .forget-password-form select.form-control option{
	color: #000;
}

@media (max-width: 574px) {
	.forget-password.d-flex {
		min-height: 100vh;
		margin: 0 -30px;
	}

	.box.forget-password .forget-password-left{
		position: unset;
		padding: 30px 40px;
	}

	.box.forget-password .forget-password-right{
		margin-bottom: 110px;
	}

	.box.forget-password .forget-password-logo {
		margin-bottom: 20px;
		text-align: center;
	}

	.box.forget-password .forget-password-title .title{
		max-width: 100%;
		text-align: center;
		margin-bottom: 0;
	}

	.forget-password-remark{
		position: absolute;
		left: 0;
		bottom: 20px;
		width: 100%;
	}

}