@using APS.BusinessEntity.Models.Appointment;

@{
    ViewBag.Title = "Exceeded Maximum Timeslot Change!";
    var ExceedTSMsg = ViewBag.ExceedTSMsg;
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>@ViewBag.Title</h2></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="panel-body">
                            @ExceedTSMsg
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3 col-sm-push-1">
                        <input type="button" value="Ok" class="btn" onclick="location.href='@Url.Action("ViewAppointmentBooking", "Appointment")'" />
                    </div>
                    <div class="col-sm-4">
                        fjdfsd
                        sdfjsdfjsd
                        alert(response)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    alert((resizeBy);
</script>
